@charset "UTF-8";
/*-------------------------------  Reset  ------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, blockquote, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid silver;
}

legend {
  white-space: normal;
}

embed, img, object {
  max-width: 100%;
}

img {
  height: auto;
}

a img {
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

b, dt, strong {
  font-weight: 700;
}

dfn, em, i {
  font-style: italic;
}

blockquote, q {
  quotes: none;
  font-style: italic;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

a, a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0;
}

hr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  margin: 1.5em 0;
  padding: 0;
  border: none;
  background: #999;
}

mark {
  color: #000;
  background: #ff0;
}

pre {
  margin: 1em 0;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  white-space: pre;
  white-space: pre-wrap;
  background: #efefef;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: 'courier new',monospace,serif;
  font-size: 1em;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
  left: -0.3em;
}

sub {
  bottom: -.25em;
  left: -0.3em;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

ins, u {
  text-decoration: underline;
}

del, s {
  text-decoration: line-through;
}

dl, menu {
  margin: 1em 0 1em 1em;
  list-style: none;
}

dd + dt {
  margin-top: 1em;
}

dd {
  margin: 0 0 0 40px;
}

nav ol, nav ul, ol, ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img {
  vertical-align: top;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff;
}

::-ms-selection {
  text-shadow: none;
  color: #fff;
  background: #2597ff;
}

[hidden] {
  display: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: not-allowed;
}

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button, input, select, textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}

textarea {
  overflow: auto;
  max-width: 100%;
  vertical-align: top;
}

input:required, input:invalid {
  box-shadow: none;
}

input[type="url"], input[type="tel"], input[type="text"], input[type="email"], input[type="search"], input[type="password"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[type="url"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus,
textarea:focus {
  background: #ffface !important;
}

input::-webkit-input-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #999;
}

textarea:-ms-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*-------------------------------  NOSCRIPT  ------------------------------------*/
.wzmMsg_Wrapp {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0 3px;
  border-bottom: 1px solid #ababab;
  overflow: visible;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  color: #000;
  background-color: #fcea9c;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

.wzmMsg_Text {
  margin-left: 70px;
  padding: 0 30px 0 10px;
  min-height: 20px;
  border-left: 1px solid #ababab;
}

.wzmMsg_Text > p {
  margin: 5px 0;
  white-space: normal;
}

.wzmMsg_Text a {
  text-decoration: underline;
  color: #f00;
}

.wzmMsg_Text a:hover {
  color: #900;
}

.wzmMsg_Link {
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 50px;
  height: 18px;
  text-decoration: none !important;
  outline: none;
}

.wzmMsg_Link img {
  border: none;
}

#wzmMsg_JsClose, .wzmMsg_Close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  cursor: hand;
  cursor: pointer;
}

#wzmMsg_JsClose {
  z-index: 9999;
  opacity: 0;
}

#wzmMsg_JsClose:checked, #wzmMsg_JsClose:checked + .wzmMsg_Wrapp {
  display: none;
}

.wzmMsg_Close > span {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

#wzmMsg_JsClose:hover + .wzmMsg_Wrapp .wzmMsg_Close, .wzmMsg_Close:hover {
  background-color: #ead371;
}

#wzmMsg_JsClose:active + .wzmMsg_Wrapp .wzmMsg_Close, .wzmMsg_Close:active {
  background-color: #beaf6e;
}

/*-------------------------------  Print  ------------------------------------*/
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ") ";
  }
  abbr[title]:after {
    content: " (" attr(title) ") ";
  }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

/*-------------------------------  Magnific  ------------------------------------*/
/* Magnific Popup CSS */
.mfp-bg {
  z-index: 1042;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;
  background: #0b0b0b;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  z-index: 1043;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  text-align: center;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  display: inline-block;
  z-index: 1045;
  position: relative;
  margin: 0 auto;
  text-align: left;
  vertical-align: middle;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  z-index: 1044;
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  width: auto;
  margin-top: -0.8em;
  text-align: center;
  color: #cccccc;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  display: block;
  z-index: 1046;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  overflow: visible;
  outline: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0 0 18px 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Baskerville,monospace;
  font-size: 28px;
  font-style: normal;
  line-height: 44px;
  color: white;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  right: -6px;
  width: 100%;
  padding-right: 6px;
  text-align: right;
  color: white;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  color: #cccccc;
}

.mfp-arrow {
  position: absolute;
  top: 50%;
  width: 90px;
  height: 110px;
  margin: 0;
  margin-top: -55px;
  padding: 0;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
  top: 8px;
  border-top-width: 13px;
  border-bottom-width: 13px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  margin-left: 31px;
  border-right: 17px solid white;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  margin-left: 39px;
  border-left: 17px solid white;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  width: 100%;
  max-width: 900px;
  line-height: 0;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}

.mfp-iframe-scaler iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Main image in popup */
img.mfp-img {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 40px 0 40px;
  max-width: 100%;
  line-height: 0;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 40px;
  left: 0;
  width: auto;
  height: auto;
  background: #444444;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-figure small {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -36px;
  cursor: auto;
}

.mfp-title {
  padding-right: 36px;
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-right: 0;
    padding-left: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    position: fixed;
    top: auto;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.6);
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    top: 3px;
    right: 5px;
  }
  .mfp-img-mobile .mfp-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    padding: 0;
    text-align: center;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  left: 50%;
  width: 600px;
  margin-top: 5px;
  margin-left: -300px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

.zoom-in .mfp-preloader,
.zoom-in .mfp-arrow,
.zoom-in .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.zoom-in.mfp-ready .mfp-preloader,
.zoom-in.mfp-ready .mfp-arrow,
.zoom-in.mfp-ready .mfp-content {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.63, 0.55, 0.31, 1.5);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.zoom-in.mfp-removing .mfp-preloader,
.zoom-in.mfp-removing .mfp-arrow,
.zoom-in.mfp-removing .mfp-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.zoom-in.mfp-bg {
  opacity: 0.001;
  /* Chrome opacity transition bug */
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-image > * {
  cursor: pointer;
}

/* mfiModal */
.mfiModal {
  position: relative;
  width: 90%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background: #fff;
}

.mfiModal.medium {
  max-width: 540px;
}

.mfiModal.big {
  max-width: 720px;
}

/*-------------------------------  wBtns  ------------------------------------*/
.wBtn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-size: 14px;
  height: 29px;
  line-height: 30px;
  border: none;
  background: #ececee;
  background: -moz-linear-gradient(top, #fafafb 0%, #ececee 100%);
  background: -webkit-linear-gradient(top, #fafafb 0%, #ececee 100%);
  background: -ms-linear-gradient(top, #fafafb 0%, #ececee 100%);
  background: linear-gradient(to bottom, #fafafb 0%, #ececee 100%);
  box-shadow: 0 3px 0 #bfbfbf;
  border-radius: 0.4em;
  padding: 0 15px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wBtn:hover {
  color: #222;
  background: #fafafb;
  box-shadow: 0 3px 0 #aaa;
}

.wBtn:active {
  top: 1px;
  color: #222;
  box-shadow: inset 0 -2px 3px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 0 #999;
}

.wBtn > .svgHolder {
  margin: -1px 4px 0;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 15px;
}

.wBtn > .svgHolder > svg {
  fill: #666;
}

.wBtn:hover > .svgHolder > svg {
  fill: #222;
}

.wBtn:active > .svgHolder > svg {
  fill: #222;
}

/* lg */
.wBtn.lg {
  font-size: 16px;
  height: 39px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.wBtn.lg > .svgHolder {
  margin-left: 6px;
  margin-right: 6px;
  height: 20px;
  width: 20px;
}

/* primary */
.wBtn.primary {
  color: #fff;
  text-shadow: none;
  background: #0089C5;
  box-shadow: 0 3px 0 #025980;
}

.wBtn.primary:hover {
  background: #0295D5;
}

.wBtn.primary:active {
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #025980;
}

.wBtn.primary > .svgHolder > svg {
  fill: #fff;
}

/* succes */
.wBtn.succes {
  color: #fff;
  text-shadow: none;
  background: #66a427;
  box-shadow: 0 3px 0 #47721b;
}

.wBtn.succes:hover {
  background: #78BE30;
}

.wBtn.succes:active {
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #47721b;
}

.wBtn.succes > .svgHolder > svg {
  fill: #fff;
}

/* info */
.wBtn.info {
  color: #fff;
  text-shadow: none;
  background: #53ABFF;
  box-shadow: 0 3px 0 #2974BB;
}

.wBtn.info:hover {
  background: #74BBFF;
}

.wBtn.info:active {
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #2974BB;
}

.wBtn.info > .svgHolder > svg {
  fill: #fff;
}

/* warning */
.wBtn.warning {
  color: #fff;
  text-shadow: none;
  background: #25CE25;
  box-shadow: 0 3px 0 #209820;
}

.wBtn.warning:hover {
  background: #4ADB4A;
}

.wBtn.warning:active {
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #209820;
}

.wBtn.warning > .svgHolder > svg {
  fill: #fff;
}

/* danger */
.wBtn.danger {
  color: #fff;
  text-shadow: none;
  background: #eb1f27;
  box-shadow: 0 3px 0 #a4161b;
}

.wBtn.danger:hover {
  background: #EB4F1F;
}

.wBtn.danger:active {
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.4), 0 2px 0 #a4161b;
}

.wBtn.danger > .svgHolder > svg {
  fill: #fff;
}

/*-------------------------------  validation ------------------------------------*/
.error {
  border-color: #f00 !important;
  background: #fee;
}

label.error {
  z-index: 3;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 2px 8px;
  max-width: 100%;
  border: 1px solid #f00;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  background: #fff;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  transform: translateY(4px);
  cursor: default;
}

label.error:after, label.error:before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 10%;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
}

label.error:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}

label.error:before {
  border-color: rgba(255, 0, 0, 0);
  border-bottom-color: #f00;
  border-width: 5px;
  margin-left: -5px;
}

.wForm, .wFormDef, .wFormRow, .wFormInput {
  position: relative;
}

/*-------------------------------  wForm wFormDef  ------------------------------------*/
.wFormDef .wFormRow {
  margin-bottom: 15px;
}

.wFormDef .wFormInput {
  display: block;
}

.wFormDef label.wFormInput {
  cursor: pointer;
}

.wFormDef .wLabel {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  padding: 5px 0;
  margin-left: 3px;
  cursor: pointer;
}

.wFormDef .wInput, .wFormDef .wInputSpan, .wFormDef .wTextarea, .wFormDef .wSelect, .wFormSearch .wInput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #ccc;
}

.no-touch .wFormDef .wInput:hover, .no-touch .wFormDef .wInputSpan:hover, .no-touch .wFormDef .wTextarea:hover,
.no-touch .wFormDef .wSelect:hover, .no-touch .wFormSearch .wInput:hover {
  background: #f8f8f8;
}

.wFormDef .wInput:focus, .wFormDef .wInputSpan:focus, .wFormDef .wTextarea:focus, .wFormDef .wSelect:focus, .wFormSearch .wInput:focus {
  border-color: #5696D0;
  box-shadow: inset 0 0 0 1px #5696D0;
}

.wFormDef .wInput.error:focus, .wFormDef .wInputSpan.error:focus, .wFormDef .wTextarea.error:focus,
.wFormDef .wSelect.error:focus, .wFormSearch .wInput.error:focus,
.wFormDef .wFile.error:active ~ .wFileVal, .wFormDef .wFile.error:focus ~ .wFileVal, .wFormDef .wFile.error:hover ~ .wFileVal {
  border-color: #f00;
  box-shadow: inset 0 0 0 1px #f00;
}

.wFormDef .wInputSpan {
  min-height: 40px;
  line-height: 16px;
}

.wFormDef .wTextarea {
  min-height: 120px;
  max-height: 320px;
}

.wFormSearch .wFormInput {
  padding-right: 59px;
}

.wFormSearch .wSubmit {
  position: absolute;
  top: 0 !important;
  right: 0;
  height: 100%;
  height: calc(100% - 3px);
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.wFormSearch .wSubmit {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wFormDef .wCheck, .wFormDef .wRadio {
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 18px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: url(plugin.css);
}

.wFormDef .wFile,
.wFormDef .wCheck input,
.wFormDef .wRadio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.wFormDef .wCheck span, .wFormDef .wRadio span {
  position: relative;
  padding-left: 20px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.wFormDef .wCheck span:before, .wFormDef .wRadio span:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  left: 0;
  background: url(../pic/checked.png) top right no-repeat;
  background-size: 200% auto;
}

.wFormDef .wRadio span:before {
  background-position: bottom right;
}

.wFormDef .wCheck input:checked ~ span, .wFormDef .wRadio input:checked ~ span {
  color: #f00;
}

.wFormDef .wCheck input:checked ~ span:before {
  background-position: top left;
}

.wFormDef .wRadio input:checked ~ span:before {
  background-position: bottom left;
}

.wFormDef .wFileVal > span {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.wFormDef .wFileVal {
  cursor: pointer;
}

.wFormDef .wFileVal > span > ins {
  color: #999;
  text-decoration: none;
  font-style: italic;
}

.wFormDef label.error:not([style$="none;"]) ~ .wFileVal {
  border-color: #f00;
}

.wFormDef .wFormRow .inpInfo {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 0;
  overflow: hidden;
  right: 0;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 12px;
  color: #fff;
  border-radius: 0 3px 0 3px;
  background: #5696D0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, height 0.2s ease;
  -moz-transition: opacity 0.2s ease, height 0.2s ease;
  transition: opacity 0.2s ease, height 0.2s ease;
}

.wFormDef .wFormRow .wTextarea:focus ~ .inpInfo,
.wFormDef .wFormRow .wInput:focus ~ .inpInfo {
  height: 12px;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.wFormDef .wFormRow .wInput.error ~ .inpInfo {
  background: #f00;
}

.wFormDef .wCaption {
  display: block;
  font-size: 12px;
  color: #999;
  font-style: italic;
  line-height: 14px;
  margin-bottom: 5px;
}

/*-------------------------------  Custom Fonts  ------------------------------------*/
/*-------------------------------  Defs & Sys  ------------------------------------*/
body {
  position: relative;
  min-width: 320px;
  font-size: 14px;
  line-height: 1.6em;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

body, button, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
  color: #43f;
}

a:focus, a:hover {
  text-decoration: underline;
  color: #f00;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

a[href^="http"], a[href^="www."] {
  cursor: pointer;
  cursor: alias;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.cls {
  font-size: 0;
  display: table;
  width: 100%;
}

.ovh {
  overflow: hidden;
}

.clear {
  clear: both;
}

.blank {
  height: 25px;
}

.clearFix:after, .wSize:after, .wTxt:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.svgHolder {
  position: relative;
}

.svgHolder > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/*-------------------------------  conteiner  ------------------------------------*/
.wWrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wSize {
  max-width: 980px;
  padding: 0 5px;
  margin: 0 auto;
  position: relative;
}

.wConteiner {
  padding: 20px 0 100px 0;
  position: relative;
}

/*-------------------------------  wHeader  ------------------------------------*/
.wHeader {
  position: relative;
}

/*-------------------------------  wConteiner  ------------------------------------*/
/*-------------------------------  wLeft  ------------------------------------*/
.wLeft {
  position: relative;
  float: left;
  width: 25%;
  margin-right: 3%;
  margin-bottom: 3%;
}

/*-------------------------------  wRight  ------------------------------------*/
.wRight {
  position: relative;
  float: right;
  width: 25%;
  margin-left: 3%;
  margin-bottom: 3%;
}

/*-------------------------------  wMiddle  ------------------------------------*/
.wLeft + .wMiddle,
.wRight + .wMiddle {
  position: relative;
  overflow: hidden;
}

.wMiddle {
  margin-bottom: 3%;
}

/*-------------------------------  wFooter  ------------------------------------*/
.wFooter {
  position: relative;
  margin: -100px auto 0;
  height: 100px;
}

/*-------------------------------  breadcrumbs  ------------------------------------*/
.breadcrumbs {
  width: 100%;
  display: table;
  font-size: 0;
  line-height: 0;
  margin-bottom: 15px;
}

.breadcrumbs > span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  margin-right: 7px;
  color: #000;
}

.breadcrumbs > span:before {
  content: '›';
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}

.breadcrumbs > span:first-child:before {
  display: none;
}

.breadcrumbs > span > a {
  text-decoration: underline;
}

@media only screen and (max-width: 620px) {
  .breadcrumbs {
    display: block;
  }
  .breadcrumbs > span, .breadcrumbs > span:before {
    display: none;
  }
  .breadcrumbs > span:nth-last-child(2) {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    background: none;
    margin: 0;
  }
  .breadcrumbs > span:nth-last-child(2):before {
    content: '‹';
    display: inline;
    font-size: 120%;
    margin: 0 5px 0 3px;
  }
}

/*-------------------------------  wTxt  ------------------------------------*/
.wTxt {
  position: relative;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: none;
  text-decoration: none;
}

.wTxt a {
  color: #43f;
  text-decoration: underline;
}

.wTxt a:visited {
  text-decoration: underline;
  color: #609;
}

.wTxt a:hover {
  text-decoration: underline;
  color: #f00;
}

.wTxt a:active {
  text-decoration: underline;
  color: #000;
}

.wTxt h1:before, .wTxt h2:before, .wTxt h3:before,
.wTxt h4:before, .wTxt h5:before, .wTxt h6:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6,
.wTxt ul, .wTxt ol, .wTxt dl, .wTxt pre, .wTxt p,
.wTxt blockquote, .wTxt table, .wTxt blockquote {
  margin: 1em 0px;
}

.wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6,
.h1T, .h2T, .h3T, .h4T, .h5T, .h6T {
  font: 40px/1.2em Arial, Helvetica, sans-serif;
  margin: 1.3em 0 0.7em;
}

.wTxt h2, .h2T {
  font-size: 34px;
  line-height: 1.2em;
}

.wTxt h3, .h3T {
  font-size: 30px;
  line-height: 1.2em;
}

.wTxt h4, .h4T {
  font-size: 26px;
  line-height: 1.2em;
}

.wTxt h5, .h5T {
  font-size: 22px;
  line-height: 1.2em;
}

.wTxt h6, .h6T {
  font-size: 18px;
  line-height: 1.2em;
}

.wTxt h1:first-child, .wTxt h2:first-child, .wTxt h3:first-child, .wTxt h4:first-child, .wTxt h5:first-child, .wTxt h6:first-child,
.h1T:first-child, .h2T:first-child, .h3T:first-child, .h4T:first-child, .h5T:first-child, .h6T:first-child {
  margin-top: 0;
}

.wTxt h1 a, .wTxt h2 a, .wTxt h3 a, .wTxt h4 a, .wTxt h5 a, .wTxt h6 a,
.h1T a, .h2T a, .h3T a, .h4T a, .h5T a, .h6T a {
  text-decoration: none !important;
}

.wTxt code, .wTxt kbd, .wTxt samp {
  line-height: 1.3em;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  border-radius: 3px;
}

.wTxt code {
  color: red;
}

.wTxt kbd {
  color: blue;
}

.wTxt samp {
  color: #009e00;
}

.wTxt pre {
  padding: 15px;
  border-radius: 5px;
}

.wTxt code, .wTxt kbd, .wTxt pre, .wTxt samp {
  background: #efefef;
  border: 1px solid #ccc;
}

.wTxt blockquote {
  padding: 5px 20px;
  font-style: italic;
}

.wTxt ul, .wTxt ol, .wTxt dl {
  margin: 1em 0 1em 1em;
}

.wTxt li {
  list-style-type: disc;
  list-style-position: inside;
}

.wTxt ol li {
  list-style-type: decimal;
  list-style-position: inside;
}

.wTxt dl dt {
  font-style: italic;
}

.wTxt table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  width: 100%;
  margin: 10px 0 20px;
}

.wTxt table th,
.wTxt table td {
  padding: 10px;
  line-height: 1em;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}

.wTxt table th {
  font-weight: bold;
  background: #eee;
}

.wTxt table.table-null,
.wTxt table.table-null th,
.wTxt table.table-null td {
  border-color: transparent;
}

.wTxt table.table-zebra,
.wTxt table.table-zebra th,
.wTxt table.table-zebra td {
  border-color: transparent;
}

.wTxt table.table-zebra tr:nth-child(even) {
  background: #ddd;
}

.iframeHolder {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.iframeHolder.ratio_56 {
  padding-top: 56.25%;
}

.iframeHolder.ratio_75 {
  padding-top: 75%;
}

.iframeHolder > iframe {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wHeader {
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}

.wHeader:after {
  content: '';
  display: block;
  width: 1px;
  height: 7px;
  background: linear-gradient(180deg, #000 0px, transparent 50%);
  background-size: 1px 2px;
  background-repeat: repeat;
  margin: auto;
}

.wGridRow {
  font-size: 0;
}

.wGridRow .wGridCell {
  position: relative;
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin: 0 10px;
}

.wGridRow .wGridCell:first-child {
  margin-left: 0;
}

.wGridRow .wGridCell:last-child {
  margin-right: 0;
}

.wGridRow .wGridCell.w2 {
  width: 480px;
}

.wGridRow .wGridCell.w3 {
  width: 730px;
}

.wGridRow .wGridCell.b {
  border: 1px solid #e5e5e5;
}

.categorymenu li {
  height: 50px;
  line-height: 50px;
  background-position: left;
  background-size: 5px 10px;
}

.categorymenu li + li {
  border-top: 1px solid #e5e5e5;
}

.categorymenu li a {
  color: #666;
  text-decoration: none;
}

.categorymenu .ico {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
