doctype html
html(lang='ru-RU', dir='ltr')
  // (c) студия Wezom | www.wezom.com.ua | v2.0.1
  block GLOBAL_VARS
    include ../blocks/GlobalConfig.jade
  block page_vars
  include ../blocks/system.jade 
  head
    include ../blocks/head.jade
  body
    .wWrapper
      header.wHeader
        block wHeader
          include ../blocks/header.jade
      // .wHeader
      .wConteiner
        block content
          .wSize
            .wLeft
              block wLeft
            // .wLeft
            .wRight
              block wRight
            // .wRight
            .wMiddle
              block wMiddle
            // .wMiddle
          // .wSize
      // .wConteiner
    // .wWrapper
    footer.wFooter
      block wFooter
        include ../blocks/footer.jade
    // .wFooter
    // WEZOM DEFS
    noscript
      input#wzmMsg_JsClose(type='checkbox', title='Закрыть')
      #wzmMsg_JsInform.wzmMsg_Wrapp
        .wzmMsg_Text
          p
            | В Вашем браузере 
            b отключен JavaScript!
            |  Для корректной работы с сайтом необходима поддержка Javascript.
          p
            | Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.
        a.wzmMsg_Link(href='http://wezom.com.ua/', target='_blank', title='Студия Wezom')
          img(src='pic/wezom-info-red.gif', width='50', height='18', alt='Студия Wezom')
        .wzmMsg_Close
          span ×
    script.
      function $wzmOldInit(){var scrpt=document.createElement("script");scrpt.src="http://www.inkubator.ks.ua/html/old/js/wOld.js";document.body.appendChild(scrpt);};try{document.addEventListener("DOMContentLoaded",$wzmOldInit,false)}catch(e){window.attachEvent("onload",$wzmOldInit)}
    // end WEZOM DEFS
    if UseSvgSprite
      // SVG-SPRITE
      svg#sprite(xmlns='http://www.w3.org/2000/svg', style='height:0;width:0;visibility:hidden;position:absolute;top:0;left:0;', onload="spriteSvg.initialize(this,'js/sprite-svg.json')")
      script.
        var spriteSvg={ns:"http://www.w3.org/2000/svg",initialize:function(e,t){if(this.prefix="spriteSvg_"+e.id,window.localSupport){var i=window.localStorage[this.prefix];if(i){var n=JSON.parse(i);this.setSprite(e,n)}else this.getJson(e,t)}else this.getJson(e,t)},getJson:function(e,t){var i=new XMLHttpRequest,n=this;i.open("GET",t,!0),i.setRequestHeader("Content-type","application/json"),i.onreadystatechange=function(){if(4==i.readyState&&200==i.status){var t=JSON.parse(i.responseText);n.setSprite(e,t),window.localSupport&&window.localWrite(n.prefix,JSON.stringify(t))}},i.send()},buildElem:function(e,t){var i,n,s;for(i in t)for(n in t[i]){var o=document.createElementNS(this.ns,n);for(s in t[i][n])"stops"===s?(this.buildElem(o,t[i][n][s])):o.setAttributeNS(null,s,t[i][n][s]);e.appendChild(o)}},isDone:function(){},setSprite:function(e,t){for(key in t){var i=t[key],n=document.createElementNS(this.ns,"symbol");n.setAttributeNS(null,"id",key),n.setAttributeNS(null,"viewBox",i.viewBox),this.buildElem(n,i.symbol),i.hasOwnProperty("gradients")&&this.buildElem(e,i.gradients),e.appendChild(n)}this.isDone(e)}};
      // end SVG-SPRITE
    block AfterFooterOnlyThisPage
